RewriteEngine On

# REWRITE: www.domain.tld/api_version/view/entry_id/
RewriteRule ^([^/]*)/([^/]*)$ /api.php?version=$1&view=$2 [L,QSA]

# REWRITE: www.domain.tld/api_version/view/uid/
RewriteRule ^([^/]*)/([^/]*)/([^/]*)$ /api.php?version=$1&view=$2&entry_id=$3 [L,QSA]

# REWRITE: www.domain.tld/api_version/view/uid/module/
RewriteRule ^([^/]*)/([^/]*)/([^/]*)/([^/]*)$ /api.php?version=$1&view=$2&entry_id=$3&module=$4 [L,QSA]